In [1]:
from langchain_community.utilities import SQLDatabase
from urllib.parse import quote_plus
from dotenv import load_dotenv
load_dotenv()
import os
from langchain_groq import ChatGroq

# --- Start of Fix ---

# 1. Your raw password
password = os.getenv("MY_DB_PASSWORD")

# 2. URL-encode the password to handle the special '@' character safely
encoded_password = quote_plus(password)

# 3. Construct the correct, robust URI with the encoded password
# The format is: "dialect+driver://username:encoded_password@host/database_name"
MYSQL_URI = f"mysql+pymysql://root:{encoded_password}@localhost/own_gpt"

In [2]:
db = SQLDatabase.from_uri(MYSQL_URI)

In [3]:
llm = ChatGroq(model=os.getenv("OPENAI_MODEL"))

In [4]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

for tool in tools:
    print(f"{tool.name}: {tool.description}\n")

sql_db_query: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.

sql_db_schema: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3

sql_db_list_tables: Input is an empty string, output is a comma-separated list of tables in the database.

sql_db_query_checker: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

In [5]:
from langgraph.prebuilt import create_react_agent

system_prompt = """
You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run,
then look at the results of the query and return the answer. Unless the user
specifies a specific number of examples they wish to obtain, always limit your
query to at most {top_k} results.

You can order the results by a relevant column to return the most interesting
examples in the database. Never query for all the columns from a specific table,
only ask for the relevant columns given the question.

You MUST double check your query before executing it. If you get an error while
executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
database.

To start you should ALWAYS look at the tables in the database to see what you
can query. Do NOT skip this step.

Then you should query the schema of the most relevant tables.
""".format(
    dialect=db.dialect,
    top_k=5,
)

agent = create_react_agent(
    llm,
    tools,
    prompt=system_prompt,
)

In [6]:
question = "How many distinct vendor names are there?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

How many distinct vendor names are there?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (fc_3f979f13-f327-46c7-919f-951d9835b35b)
 Call ID: fc_3f979f13-f327-46c7-919f-951d9835b35b
  Args:
    tool_input:
================================= Tool Message =================================
Name: sql_db_list_tables

adop_valid_nodes_bak, customersitelisting, customersitelistingupdated, debitmemolisting, debtors_statement_aging_query, debtorsstatementreportq3, debtorsstatementreportq4, demo_table, employee, modified_debtors_statement, questions_answers, supplierdetails, supplierdetails2, supplierinvoicepaymentdetails, supplierpaymenthistoryq1, supplierpaymenthistoryq2, supplierspaymenthistory, supplierspaymenthistoryupdated, transaction_details
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (fc_57195cae-e68c-4375-aafe-02ae25755d43)
 Call ID: fc_57195cae-e68c-4375-aafe-02ae25755d43
  Args:
    table_names: supplierdetails, supplierdetails2
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE supplierdetails (
	invoice_id BIGINT,
	invoice_num VARCHAR(50),
	invoice_num_standard VARCHAR(255),
	invoice_num_upper VARCHAR(255),
	invoice_num_lower VARCHAR(255),
	last_update_date DATETIME,
	last_updated_by BIGINT,
	vendor_id BIGINT,
	set_of_books_id BIGINT,
	invoice_currency_code VARCHAR(15),
	payment_currency_code VARCHAR(15),
	vendor_site_id BIGINT,
	invoice_date DATETIME,
	invoice_type_lookup_code VARCHAR(25),
	invoice_type_lookup_code_standard VARCHAR(255),
	invoice_type_lookup_code_upper VARCHAR(255),
	invoice_type_lookup_code_lower VARCHAR(255),
	c_description VARCHAR(240),
	amount_applicable_to_discount DECIMAL(38, 0),
	terms_id BIGINT,
	terms_date DATETIME,
	creation_date DATETIME,
	created_by BIGINT,
	invoice_received_date DATETIME,
	earliest_settlement_date DATETIME,
	org_id BIGINT,
	organization_id BIGINT,
	name VARCHAR(240),
	name_standard VARCHAR(255),
	name_upper VARCHAR(255),
	name_lower VARCHAR(255),
	gl_date DATETIME,
	wfapproval_status VARCHAR(50),
	wfapproval_status_standard VARCHAR(255),
	wfapproval_status_upper VARCHAR(255),
	wfapproval_status_lower VARCHAR(255),
	legal_entity_id BIGINT,
	payment_reason_code VARCHAR(30),
	payment_reason_comments VARCHAR(240),
	payment_method_code VARCHAR(30),
	payment_method_code_standard VARCHAR(255),
	payment_method_code_upper VARCHAR(255),
	payment_method_code_lower VARCHAR(255),
	party_id BIGINT,
	party_site_id BIGINT,
	remit_to_supplier_name VARCHAR(240),
	remit_to_supplier_name_standard VARCHAR(255),
	remit_to_supplier_name_upper VARCHAR(255),
	remit_to_supplier_name_lower VARCHAR(255),
	remit_to_supplier_id BIGINT,
	remit_to_supplier_site VARCHAR(240),
	remit_to_supplier_site_standard VARCHAR(255),
	remit_to_supplier_site_upper VARCHAR(255),
	remit_to_supplier_site_lower VARCHAR(255),
	remit_to_supplier_site_id BIGINT,
	vendor_name VARCHAR(240),
	vendor_name_standard VARCHAR(255),
	vendor_name_upper VARCHAR(255),
	vendor_name_lower VARCHAR(255),
	segment1 VARCHAR(30),
	invoice_amount DECIMAL(38, 0),
	amount_paid DECIMAL(38, 0),
	balance_remaining DECIMAL(38, 0)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from supplierdetails table:
invoice_id	invoice_num	invoice_num_standard	invoice_num_upper	invoice_num_lower	last_update_date	last_updated_by	vendor_id	set_of_books_id	invoice_currency_code	payment_currency_code	vendor_site_id	invoice_date	invoice_type_lookup_code	invoice_type_lookup_code_standard	invoice_type_lookup_code_upper	invoice_type_lookup_code_lower	c_description	amount_applicable_to_discount	terms_id	terms_date	creation_date	created_by	invoice_received_date	earliest_settlement_date	org_id	organization_id	name	name_standard	name_upper	name_lower	gl_date	wfapproval_status	wfapproval_status_standard	wfapproval_status_upper	wfapproval_status_lower	legal_entity_id	payment_reason_code	payment_reason_comments	payment_method_code	payment_method_code_standard	payment_method_code_upper	payment_method_code_lower	party_id	party_site_id	remit_to_supplier_name	remit_to_supplier_name_standard	remit_to_supplier_name_upper	remit_to_supplier_name_lower	remit_to_supplier_id	remit_to_supplier_site	remit_to_supplier_site_standard	remit_to_supplier_site_upper	remit_to_supplier_site_lower	remit_to_supplier_site_id	vendor_name	vendor_name_standard	vendor_name_upper	vendor_name_lower	segment1	invoice_amount	amount_paid	balance_remaining
10070	6181-1	6181-1	6181-1	6181-1	1996-01-07 11:31:41	1006	1	1	USD	USD	1	1996-01-04 00:00:00	STANDARD	Standard	STANDARD	standard	None	900	10002	1996-01-04 00:00:00	1996-01-04 16:28:14	1006	None	None	204	204	Vision Operations	Vision Operations	VISION OPERATIONS	vision operations	1996-01-04 00:00:00	NOT REQUIRED	Not Required	NOT REQUIRED	not required	204	None	None	CHECK	Check	CHECK	check	12442	174417	GE Plastics	GE Plastics	GE PLASTICS	ge plastics	1	GE PLASTICS	Ge plastics	GE PLASTICS	ge plastics	1	GE Plastics	GE Plastics	GE PLASTICS	ge plastics	1000	900	900	0
10209	17625716	17625716	17625716	17625716	1996-01-07 11:41:47	1006	11	1	GBP	GBP	14	1996-01-04 00:00:00	STANDARD	Standard	STANDARD	standard	None	620	10003	1996-01-04 00:00:00	1996-01-04 16:43:25	1006	None	None	204	204	Vision Operations	Vision Operations	VISION OPERATIONS	vision operations	1996-01-04 00:00:00	NOT REQUIRED	Not Required	NOT REQUIRED	not required	204	None	None	CHECK	Check	CHECK	check	12444	174543	Advantage Corp	Advantage Corp	ADVANTAGE CORP	advantage corp	11	ADVANTAGE - UK	Advantage - uk	ADVANTAGE - UK	advantage - uk	14	Advantage Corp	Advantage Corp	ADVANTAGE CORP	advantage corp	1010	620	620	0
10230	524652	524652	524652	524652	1996-01-07 13:24:13	1006	4	1	NLG	NLG	5	1996-01-04 00:00:00	STANDARD	Standard	STANDARD	standard	None	14250	10003	1996-01-04 00:00:00	1996-01-04 16:46:44	1006	None	None	204	204	Vision Operations	Vision Operations	VISION OPERATIONS	vision operations	1996-01-04 00:00:00	NOT REQUIRED	Not Required	NOT REQUIRED	not required	204	None	None	CHECK	Check	CHECK	check	301368	174405	United Parcel Service	United Parcel Service	UNITED PARCEL SERVICE	united parcel service	4	UPS - NL	Ups - nl	UPS - NL	ups - nl	5	United Parcel Service	United Parcel Service	UNITED PARCEL SERVICE	united parcel service	1003	14250	14250	0
*/


CREATE TABLE supplierdetails2 (
	invoice_id DECIMAL(16, 0) NOT NULL,
	invoice_num VARCHAR(50) NOT NULL,
	last_update_date DATETIME NOT NULL,
	last_updated_by DECIMAL(16, 0) NOT NULL,
	vendor_id DECIMAL(16, 0),
	set_of_books_id DECIMAL(16, 0) NOT NULL,
	invoice_currency_code VARCHAR(15) NOT NULL,
	payment_currency_code VARCHAR(15) NOT NULL,
	invoice_amount DECIMAL(38, 2),
	vendor_site_id DECIMAL(16, 0),
	amount_paid DECIMAL(38, 2),
	invoice_date DATETIME,
	invoice_type_lookup_code VARCHAR(25),
	c_description VARCHAR(240),
	amount_applicable_to_discount DECIMAL(38, 2),
	terms_id DECIMAL(16, 0),
	terms_date DATETIME,
	creation_date DATETIME,
	created_by DECIMAL(16, 0),
	invoice_received_date DATETIME,
	earliest_settlement_date DATETIME,
	org_id DECIMAL(16, 0),
	gl_date DATETIME NOT NULL,
	wfapproval_status VARCHAR(50) NOT NULL,
	legal_entity_id DECIMAL(16, 0),
	payment_reason_code VARCHAR(30),
	payment_reason_comments VARCHAR(240),
	payment_method_code VARCHAR(30),
	party_id DECIMAL(16, 0),
	party_site_id DECIMAL(16, 0),
	remit_to_supplier_name VARCHAR(240),
	remit_to_supplier_id DECIMAL(16, 0),
	remit_to_supplier_site VARCHAR(240),
	remit_to_supplier_site_id DECIMAL(16, 0),
	vendor_name VARCHAR(240),
	upper_vendor_name VARCHAR(240),
	segment1 VARCHAR(30) NOT NULL,
	c_invoice_amount DECIMAL(38, 2),
	c_payment_amount DECIMAL(38, 2) NOT NULL,
	gl_code_combination VARCHAR(181),
	gl_natural_account VARCHAR(25)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from supplierdetails2 table:
invoice_id	invoice_num	last_update_date	last_updated_by	vendor_id	set_of_books_id	invoice_currency_code	payment_currency_code	invoice_amount	vendor_site_id	amount_paid	invoice_date	invoice_type_lookup_code	c_description	amount_applicable_to_discount	terms_id	terms_date	creation_date	created_by	invoice_received_date	earliest_settlement_date	org_id	gl_date	wfapproval_status	legal_entity_id	payment_reason_code	payment_reason_comments	payment_method_code	party_id	party_site_id	remit_to_supplier_name	remit_to_supplier_id	remit_to_supplier_site	remit_to_supplier_site_id	vendor_name	upper_vendor_name	segment1	c_invoice_amount	c_payment_amount	gl_code_combination	gl_natural_account

*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (fc_3f6c5e6a-5d1d-4762-8067-20e137b0c3e0)
 Call ID: fc_3f6c5e6a-5d1d-4762-8067-20e137b0c3e0
  Args:
    query: SELECT COUNT(DISTINCT vendor_name) AS distinct_vendor_count FROM (SELECT vendor_name FROM supplierdetails UNION SELECT vendor_name FROM supplierdetails2) AS combined;
================================= Tool Message =================================
Name: sql_db_query_checker

SELECT COUNT(DISTINCT vendor_name) AS distinct_vendor_count FROM (SELECT vendor_name FROM supplierdetails UNION SELECT vendor_name FROM supplierdetails2) AS combined;
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (fc_3f171650-849b-43d0-b063-350c85e8c9c3)
 Call ID: fc_3f171650-849b-43d0-b063-350c85e8c9c3
  Args:
    query: SELECT COUNT(DISTINCT vendor_name) AS distinct_vendor_count FROM (SELECT vendor_name FROM supplierdetails UNION SELECT vendor_name FROM supplierdetails2) AS combined;
================================= Tool Message =================================
Name: sql_db_query

[(75,)]
================================== Ai Message ==================================

There are **75 distinct vendor names** in the database.